.blockInfo {
    background: #eee;
    height: 100vh;
}

.container-blockInfo {
    position: relative;
    padding: 200px 0;
    height: 100%;
}

.wrapper-blockInfo {
    position: relative;
    padding: 0 100px;
    max-width: 1300px;
    height: 100%;
    width: 100%;
}

.blockInfo .info-top {
    margin-bottom: 40px;
    font-size: 6.5em;
    font-family: Impact, Charcoal, sans-serif;
    color: #ff5400;
}

.blockInfo .info-bottom {
    font-size: 2em;
    line-height: 1.2em;
}

.blockInfo .text-block {
    margin-bottom: 20px;
}

.blockInfo b {
    color: #ff7f1e;
}

.blockInfo i {
    font-weight: 600;
}



@media screen and (max-width: 1224px) {
    .wrapper-blockInfo {
        padding: 0 200px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper-blockInfo {
        padding: 0 100px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-blockInfo {
        padding: 0 50px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper-blockInfo {
        padding: 0 20px;
    }
}